<footer>
            <div class="container">
                <div class="row">
                    <div class="span3">
                    	<div class="inner">
                            <h3><img src="images/logo.png" alt="Zine"/></h3>
                            <p>Mauris at ultricies eros. Morbi vel dui nec arcu suscipit euismod. Phasellus pellentesque lectus eget quam ullamcorper consectetur.</p>
                            
                            <div class="social_icons">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="Dribble"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                    	<div class="inner">
                            <h3>Recent Post</h3>
                            <ul class="recent-post">
                                <li>
                                    <div class="thumb-img">
                                        <img src="images/thumb_img.jpg" alt=""/>
                                    </div>
                                    <div class="post-text">
                                        Suspendisse sed turpis non nulla auctor posuere. <span>05 February 2014</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb-img">
                                        <img src="images/thumb_img.jpg" alt=""/>
                                    </div>
                                    <div class="post-text">
                                        Suspendisse sed turpis non nulla auctor posuere. <span>05 February 2014</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span3">
                    	<div class="inner">
                            <h3>Recent Tags</h3>
                            <div class="tags">
                                <a href="#">Music</a>
                                <a href="#">New</a>
                                <a href="#">Outstanding</a>
                                <a href="#">Quote</a>
                                <a href="#">Web</a>
                                <a href="#">Shortcode</a>
                                <a href="#">WordPress</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                    	<div class="inner last">
                            <h3>Contact Info</h3>
                            <p>Nulla tristique ultrices purus vel egestas. Nam tortor metus, accumsan in tincidunt a, aliquam vitae diam. </p>
                            <div class="foot-contact">
                            	<ul class="fa-ul">
                                	<li><i class="fa-li fa fa-phone"></i> +44 (0) 1234567890</li>
                                	<li><i class="fa-li fa fa-envelope"></i> <a href="#">zinestudio@info.com</a></li>
                                	<li><i class="fa-li fa fa-home"></i> Envato Pty Ltd, 13/2 Elizabeth. <br/> St Melbourne VIC 3000, Australia</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div>
&copy; 2016 Carey Development LLC
        <div id="back-top" style="display: block;">
            <a href="#top" class="img-circle">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
        </div>
</footer>