<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Carey Development LLC : Contact</title>
        <meta name="description" content="Carey Development LLC - Java Enterprise solutions."/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="shortcut icon" href="./images/favicon.ico" />
        
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'/>
        
        <!-- Base Stylesheet -->
        <link rel="stylesheet" href="css/base.css"/>
        <link rel="stylesheet" class="alt" href="css/theme-blue.css"/>
       
        
        <script>
        function submitForm() {
			$('#contact_form').hide();
			$('#gears').show();
			$('#contact_form').submit();
        }
        </script>
    </head>
    <body class="wide">
    
    <div th:include="fragments/header :: header">...</div>
    
        <div class="breadcrumb-wrap">
            <div class="container">
                <h1>Contact Me</h1>
                <small>I'm happy to answer any questions you have.</small>
            </div>
        </div>    
    
        <div class="body-content demo-purpose">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h3>Contact Info</h3>
                        <div class="contact-info">
                            <ul class="unstyled">
                                <li>
                                    <span class="pull-left img-circle"><i class="fa fa-map-marker"></i></span>
                                    <div class="info-text">
                                        <address>
                                            <strong>Carey Development, LLC</strong><br/>
                                            Wake Forest, NC 27587<br/>
                                            <abbr title="Phone">P:</abbr> (919) 412-3571
                                        </address>
                                    </div>
                                </li>
                                <li>
                                    <span class="img-circle"><i class="fa fa-envelope-o"></i></span> <a href="mailto:mrbrianmcarey@gmail.com">mrbrianmcarey@gmail.com</a>
                                </li>
                                <li>
                                    <span class="img-circle"><i class="fa fa-globe"></i></span> <a href="http://careydevelopment.us">careydevelopment.us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span8">
                        <div id="sucessmessage"><h3 th:if="${output != null}" th:text="${output}">Output</h3></div>
                        <div class="show-grid row">
                            <form th:action="@{/sendForm}" th:object="${contactForm}" method="post" id="contact_form" novalidate="novalidate">
                                <div class="span4">
                                    <label>Name</label>
                                    <input type="text" th:field="*{name}" class="span4"/>
                                </div>
                                <div class="span4">
                                    <label>Email</label>
                                    <input type="text" th:field="*{email}" class="span4"/>
                                </div>
                                <div class="span8">
                                    <label>Message</label>
                                    <textarea th:field="*{comment}" class="span8"></textarea>
                                </div>
                                <div class="span8">
                                    <button class="btn send-btn" onclick="submitForm()">Send <i class="fa fa-check"></i></button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <div class="show-grid row" style="display:none" id="gears"><img src="./images/gears.gif" style="display:block;margin-left:auto;margin-right:auto"/></div>
                    </div>
                </div>
            </div>
        </div>


	<div th:include="fragments/footer :: footer">...</div>
        
</body>
</html>
