<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Carey Development LLC : Home</title>
        <meta name="description" content="Carey Development LLC - Java Enterprise solutions."/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="shortcut icon" href="./images/favicon.ico" />
        
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'/>
        
        <!-- Base Stylesheet -->
        <link rel="stylesheet" href="css/base.css"/>
        <link rel="stylesheet" class="alt" href="css/theme-blue.css"/>
        

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="wide">
    
    <div th:include="fragments/header :: header">...</div>
    
    <div id="main-wrapper">    
    
    	 <!-- Slider -->
         <section id="home" class="slider-bg">
            <div class="tp-banner-container">
            	<img src="./images/frontimage.png" style="display:block;margin-left:auto;margin-right:auto" />
            </div>
         </section>
        <!-- Slider End -->
    	
    
        <!-- Welcome Text -->
        <div class="dark-grey" style="background:none">
            <div class="container">
            	<div class="row">
                	<div class="span12 text-center">
                        <div class="page-header">
                            <h1>More Than 25 Years of Experience</h1>
                            <div style="font-size:14pt">I'm Brian Carey, a seasoned Java Enterprise professional with a proven track record of developing<br />
                            and deploying outstanding mission-critical business applications across a wide variety of industries.</div><br />
                        </div>
                    </div>
    			</div>
    			
    			  <div class="row">
	                <div class="span12 text-center">
	                    <div class="shadow-wrapper" style="background:none;padding-bottom:0px">                    	
	                        <h2><span>– Key –</span> Benefits</h2>
	                    </div>
	                </div>
	                <div class="span4">
	                    <div class="portfolio-wrap">
	                    	<div class="image-wrap">
	                            <img src="images/open-for-business.jpg" alt="Business-Focused" />
	                        </div>
	                        <h3>Business-Focused</h3>
	                        <p style="font-size:12pt">Your application will be tailor-fit to suit the mission of your business.</p>
	                    </div>
	                </div>
	                <div class="span4">
	                    <div class="portfolio-wrap">
	                    	<div class="image-wrap">
	                            <img src="images/user-experience.jpg" alt="User-Friendly Design" />
	                        </div>
	                        <h3>User-Friendly Design</h3>
	                        <p style="font-size:12pt">Your application will be designed with an emphasis on user experience.</p>
	                    </div>
	                </div>
	                <div class="span4">
	                    <div class="portfolio-wrap">
	                    	<div class="image-wrap">
	                            <img src="images/stopwatch.jpg" alt="On-Time Delivery" />
	                        </div>
	                        <h3>On-Time Delivery</h3>
	                        <p style="font-size:12pt">Time is money. Your application deployment deadlines will be met.</p>                        
	                    </div>
	                </div>                
            	</div>
    		

    			<div class="row" style="margin-bottom:30px">
	            	&nbsp;
	            </div>
					            
    			
    			<div class="row">
	                <div class="span12 text-center">
	                    <div class="shadow-wrapper" style="background:none;padding-bottom:0px">                    	
	                        <h2><span>– Core –</span> Competencies</h2>
	                    </div>
	                </div>
	            </div>
	        
	                <div class="row">
                              <div class="span6">
                                 <h3 style="font-size:16pt">Server Side</h3>
                                 <div class="skillbar clearfix" data-percent="80%">
                          <div class="skillbar-title"><span>Java</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">17 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="70%">
                          <div class="skillbar-title"><span>Java Enterprise</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">15 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="47%">
                          <div class="skillbar-title"><span>Spring</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">10 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="47%">
                          <div class="skillbar-title"><span>Hibernate</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">10 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="47%">
                          <div class="skillbar-title"><span>Apache Tomcat</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">10 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="67%">
                          <div class="skillbar-title"><span>WebLogic</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">14 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="13%">
                          <div class="skillbar-title"><span>JPA</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">2 Years</div>
                      </div>
                              </div>
                              <div class="span6" style="font-size:14pt;">
                                  <h3 style="font-size:16pt">Client Side/UI</h3>
                                 <div class="skillbar clearfix" data-percent="70%">
                          <div class="skillbar-title"><span>JSP</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">15 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="39%">
                          <div class="skillbar-title"><span>JSTL</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">8 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="27%">
                          <div class="skillbar-title"><span>jQuery</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">6 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="47%">
                          <div class="skillbar-title"><span>JavaScript</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">10 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="23%">
                          <div class="skillbar-title"><span>JSON</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">5 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="23%">
                          <div class="skillbar-title"><span>AJAX</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">5 Years</div>
                      </div>
                      <div class="skillbar clearfix" data-percent="39%">
                          <div class="skillbar-title"><span>CSS</span></div>
                          <div class="skillbar-bar"></div>
                          <div class="skill-bar-percent">8 Years</div>
                      </div>                                    	
                  </div>
                  
    			<div class="row" style="margin-bottom:30px">
	            	&nbsp;
	            </div>

			



				<div class="row">
					<div class="span7">
						<img src="./images/responsive.jpg" />
					</div>
					<div class="span5">
					<h3 style="font-size:18pt">Responsive Design</h3>
					<p style="font-size:14pt">It's the mobile era. Your application must look sharp and offer users an easy-to-navigate interface on a smart phone, tablet,
					or phablet. Otherwise, you're guaranteed to lose market share to competitors.</p>
					<p style="font-size:14pt">Take a look at this website on your smart phone and you'll see that I understand responsive development.</p>
					</div>
				</div>

    			<div class="row" style="margin-bottom:60px">
	            	&nbsp;
	            </div>
                
                <div class="row" style="background-color:#E2E2E2;width:85%;margin-left:7%">
                	<div class="span7" style="padding-left:5px;padding-right:5px;">
                	<h1 style="text-align:center">Automated Unit Testing</h1>
                    <div style="font-size:12pt;color:black;text-align:center">One of the best ways to ensure that new features don't break old code is with the use of
                    automated unit tests. I incorporate JUnit and Spring testing technologies into my nightly builds to guarantee system integrity.</div><br />
                	</div> 
                	<div class="span3">
                		<img src="./images/Software_Bug.jpg" style="display:block;margin-left:auto;margin-right:auto" />
                	</div>
                </div>
                  
                <div class="row" style="margin-bottom:60px">
	            	&nbsp;
	           </div>   
            	

			<div class="row">
	                <div class="span12 text-center">
	                    <div class="shadow-wrapper" style="background:none;padding-bottom:0px">                    	
	                        <h2><span>– Additional –</span> Technologies</h2>
	                    </div>
	                </div>
	            </div>

                    <div class="row">
                        <div class="span4">
                            <div class="service-icon-wrap">
                                <div class="big-icon-wrap pull-left img-circle">
                                    <i class="fa fa-bolt fa-2x"></i>
                                </div>
                                <div class="service-txt">
                                <h3>REST</h3>
                                <p style="font-size:12pt">Need to expose information without the complications of web services? Make your life easy with a REST service.</p>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="service-icon-wrap">
                                <div class="big-icon-wrap pull-left img-circle">
                                    <i class="fa fa-archive fa-2x"></i>
                                </div>
                                <div class="service-txt">
                                <h3>Maven</h3>
                                <p style="font-size:12pt">All nightly builds are run with Maven to automate unit tests and streamline dependency management. </p>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="service-icon-wrap">
                                <div class="big-icon-wrap pull-left img-circle">
                                    <i class="fa fa-github fa-2x"></i>
                                </div>
                                <div class="service-txt">
                                <h3>GitHub</h3>
                                <p style="font-size:12pt">Looking to go open-source? Need a free repository hosting service? Use GitHub to keep your source code up-to-date.</p>
                                </div>
                            </div>
                        </div>
                    </div>
			</div>    
            </div>
        </div>



        
        
        <section class="parallax-area parallax-image" data-stellar-background-ratio="0.1"> 	
            <article>
                <div class="container">
                    <div class="row">
                        <div class="span6 offset3">
                            <div class="testimonial-slider">
                                <div id="testimonial-slider" class="owl-carousel owl-theme">
							<div class="item">
                                        <div class="text-center">
                                            <img src="images/kelly.jpg" alt="" />
                                            <h4 style="color:white">Kelly Grant</h4>
                                            <p>Brian has done an outstanding job as J2EE Software Engineer for our client where he has been a key member of their software development team. Brian has represented our company well and is a true professional in all aspects.</p>
                                        </div>
                                    </div> 
                                    <div class="item">
                                        <div class="text-center">
                                            <img src="images/renee.jpg" alt="" />
                                            <h4 style="color:white">Renee Midrack</h4>
                                            <p>Brian has quickly become one of my go-to folks. He has the ability to think creatively and critically at the same time.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="text-center">
                                            <img src="images/jeff.jpg" alt="" />
                                            <h4 style="color:white">Jeff Comer</h4>
                                            <p>Brian is a focused, quiet and efficient developer with a pleasant personal demeanor and a team player. It was quite evident to me even after a short time of working with him that he is experienced and excels not only at heads down development but also the subtler aspects of good design, problem solving skills and object oriented development.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <!-- End -->
        
	   <div style="padding-top:0px;margin-bottom:30px"></div>
        
        <div class="dark-grey" style="background:none;margin-bottom:0px;padding-bottom:0px">
            <div class="container">
				<div class="row">
					<div class="span5">
					<h3 style="font-size:18pt">Amazon Web Services</h3>
					<p style="font-size:14pt">Need some help getting up and running on Amazon Web Services? This website is running on an Amazon Web Service. So are all of the portfolio apps.</p>
					<p style="font-size:14pt">This website is running on an EC2 Linux instance using Apache Tomcat. The typical tech stack for portfolio apps includes Java, Spring Boot, Hibernate, JPA, Thymeleaf, Bootstrap, and MySQL.</p>
					</div>
					<div class="span7">
						<img src="./images/cloud.png" style="display:block;margin-left:auto;margin-right:auto"/>
					</div>
				</div>
			</div>
		</div>


                <div class="row" style="background-color:#E2E2E2;width:85%;margin-left:7%;margin-top:60px;margin-bottom:60px">
                	 <div class="span3">
                		<img src="./images/VA.jpg" style="display:block;margin-left:auto;margin-right:auto" />
                	</div>
                	
                	<div class="span7" style="padding-left:5px;padding-right:5px">
                	<h1 style="text-align:center">More Than 7 Years With the Department of Veterans Affairs</h1>
                    <div style="font-size:12pt;color:black;text-align:center">I enjoy developing applications that make life easier for our great vets.</div><br />
                	</div> 
                </div>




		<div class="dark-grey" style="padding-top:0px;"></div>

				<div class="row">
                         <div class="page-header" style="text-align:center;margin-bottom:15px;padding-bottom:0px;border-bottom:0px">
                            <h1 style="text-align:center">Need More Information?</h1>
                            <a href="#" class="btn btn-primary" style="text-align:center">Contact Me</a>
                        </div>
    			</div>
    			

		<div class="dark-grey" style="padding-top:0px"></div>


        <div class="dark-grey" style="margin-top:30px">
            <div class="container">
            	<div class="row">
                	<div class="span12 text-center">
	                    <div class="shadow-wrapper" style="background:none;padding-bottom:0px">                    	
	                        <h2><span>– Application –</span> Portfolio</h2>
	                    </div>
	                </div>
    			</div>
    			
    			<div class="row">
    			
    				<div class="span4">
	                    <div class="portfolio-wrap">
	                    	<div class="image-wrap">
	                            <a href="http://careydevelopment.us/TwitterSignin" target="_blank" class="fancybox" data-fancybox-group="gallery" title="Twitter Sign-In">
	                            <span class="item-on-hover"><span class="hover-image"><i class="fa fa-code fa-2x"></i></span></span>
	                            <img src="images/twitter.jpg" alt="" />
	                            </a>
	                        </div>
	                        <h3><a href="http://careydevelopment.us/TwitterSignin" target="_blank">Twitter Sign-In</a></h3>
	                        <p style="font-size:12pt">A simple web app, written in Java, that allows you to sign in using Twitter.<br />
	                        <a href="http://careydevelopment.us/TwitterSignin" target="_blank" style="margin-left:0px">check it out <i class="fa fa-angle-right"></i></a></p>
	                    </div>
	                </div>
	                <div class="span4">
	                    <div class="portfolio-wrap">
	                    	<div class="image-wrap">
	                            <a href="http://careydevelopment.us/InstagramAutomation" target="_blank" class="fancybox" data-fancybox-group="gallery" title="Instagram Sign-In">
	                            <span class="item-on-hover"><span class="hover-image"><i class="fa fa-code fa-2x"></i></span></span>
	                            <img src="images/instagram.jpg" alt="" />
	                            </a>
	                        </div>
	                        <h3><a href="http://careydevelopment.us/InstagramAutomation" target="_blank">Instagram Sign-In</a></h3>
	                        <p style="font-size:12pt">A web app that allows you to sign in using your Instagram account.<br />
	                        <a href="http://careydevelopment.us/InstagramAutomation" target="_blank" style="margin-left:0px">check it out <i class="fa fa-angle-right"></i></a></p>
	                    </div>
	                </div>
	                <div class="span4">
	                    <div class="portfolio-wrap">
	                    	<div class="image-wrap">
	                            <a href="http://careydevelopment.us/TwitterAutomation" target="_blank" class="fancybox" data-fancybox-group="gallery" title="Twitter Automation">
	                            <span class="item-on-hover"><span class="hover-image"><i class="fa fa-code fa-2x"></i></span></span>
	                            <img src="images/twitter2.jpg" alt="" />
	                            </a>
	                        </div>
	                        <h3><a href="http://careydevelopment.us/TwitterAutomation" target="_blank">Twitter Automation</a></h3>
	                        <p style="font-size:12pt">Automates routine Twitter tasks, like mass-following people who tweet with a specific hashtag. <span style="color:red">Requires Password</span></p>                        
	                    </div>
	                </div>
    			</div>    			
    		</div>
		</div>
		<div th:include="fragments/footer :: footer">...</div>
        
	</div>
    <!-- JQuery Map UiPlugin -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="assets/plugins/map/jquery.ui.map.min.js"></script>
    
    
    <script type='text/javascript' src="js/theme_custom.js"></script>
</body>
</html>
